// TODO: checking for root flag is kind of hacky. Should
// probably just split this recursive template up into a
// head and recursive tail.
table
	- var i = 0;
	- each comment in comments 
		tr
			- if( comment.result.fk_created_by == userid )
				td(class='col1',style='color:#ff6600')= '*'
				td
			- else
				td
				-if( comment.result.voted != null )
					td(width='10px')
				-else
					td(style='vertical-align:top')
						a(href='#{njsroot}/upvote/'+comment.result.id)
							img(src='#{njsroot}/grayarrow.gif')
			td
				a(href='#{njsroot}/comments/'+comment.result.id)
					p(style='margin-top:0px;margin-bottom:0px') #{comment.result.description} 
		tr
			td
			td
			td( class='col1',style='line-height:8px' )
				span(style='font-size:7pt')= ( comment.result.votes || 0 ) + ' points'
				span(style='font-size:7pt') &nbsp;by #{comment.result.username}
				a(href='#{njsroot}/comments/'+comment.result.id, style='font-size:7pt')&nbsp;| reply

		- if( comments[0] && comments[0].result.root == true )
			tr
				td
				td
				td
					form(action='#{njsroot}/comments/#{postid}',method='post')
						textarea(name='comment', rows='6', cols='60', style='margin-top:20px')
						br
						input(type='submit',value='Comment', style='margin-top:20px')
		tr
			td
			td
			td!= partial( 'comments.jade', { comments: comment.children } )
		
