form(action='/comments/#{postid}',method='post')
	textarea(name='comment')
	br
	input(type='submit',value='Comment')
table
	- var i = 0;
	- each comment in comments 
		tr
			- if( comment.result.fk_created_by == userid )
				td(class='col1',style='color:#ff6600')= '*'
				td
			- else
				td(class='col1')= ++i + '.'
				-if( comment.result.voted != null )
					td(width='10px')
				-else
					td
						a(href='/upvote/'+comment.result.id)
							img(src='/grayarrow.gif')
			td
				p #{comment.result.description} 
		tr
			td
			td
			td( class='col1',style='line-height:8px' )
				span(style='font-size:7pt')= ( comment.result.votes || 0 ) + ' points'
				span(style='font-size:7pt') &nbsp;by #{comment.result.username}
		tr
			td
			td
			td!= partial( 'comments.jade', { comments: comment.children } )
		
