form(action='/comments/#{postid}',method='post')
	textarea(name='comment')
	br
	input(type='submit',value='Comment')
table
	- var i = 0;
	- each comment in comments 
		tr
			- if( comment.fk_created_by == userid )
				td(class='col1',style='color:#ff6600')= '*'
				td
			- else
				td(class='col1')= ++i + '.'
				-if( comment.voted != null )
					td(width='10px')
				-else
					td
						a(href='/upvote/'+comment.id)
							img(src='/grayarrow.gif')
			td
				p #{comment.description} 
		tr
			td
			td
			td( class='col1',style='line-height:8px' )
				span(style='font-size:7pt')= ( comment.votes || 0 ) + ' points'
				span(style='font-size:7pt') &nbsp;by #{comment.username}

