!!! 5
html( lang="en")
	head
		link( href='#{njsroot}/layout.css', rel='stylesheet' )
	body
		center
			table( bgcolor='#f6f6ef', width='85%', cellspacing='0px')
				tr( bgcolor='#ff6600' )
					td( width='10px')
						div( id='logo' ) #{logo} 
					td( width='50%' )
						a(href='#{njsroot}/') 
							b( id='title' ) #{title} 
						a(href='#{njsroot}/newpost') submit 
					td(id='login') 
						- if( typeof username != 'undefined' )
							#{username} | 
							a(href='#{njsroot}/logout') logout
						- else
							a(href='#{njsroot}/login') login
				tr
					td(colspan='100')!= body
						// div.wrap!= body
				tr( height='2px',bgcolor='#ff6600' )
					td( colspan='100',bgcolor='#ff6600' )
				tr
					td( colspan='100', style='text-align:center' ) 
						div
							| powered by 
							a(href='https://github.com/dnewcome/news.js') news.js 
							| 2011 dnewcome |
							a(href='#{njsroot}/faq') faq 
